:root {
  --border: hsla(0, 0%, 50%, 0.37);
  /* --gradient: linear-gradient(to right, #020024, #090979, #00d4ff); */
  --gradient: #090968;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  grid-template-rows: 100px 2fr;

  height: 100%;
}

h1 {
  margin-left: 10px;
}

.dark-mode-btn {
  position: absolute;
  right: 10px;
  padding: 2px;
}

.edit-button {
  padding: 2px;
}

.dark-mode {
  background-color: #191919;
  color: #f10086;
}
.dark-mode-img {
  width: 27px;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title-img {
  width: 35px;
}

.header {
  background: var(--gradient);

  color: white;
  font-weight: bold;
}

.middle {
  background-color: white;

  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 60px 1fr;
}

.mid-header,
.mid-header-dark {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.mid-header-dark {
  border-bottom: 2px solid #0f0f0f;
}

.mid-header-dark,
.header-dark {
  background-color: #161616;

  color: white;
}

.dark-svg {
  filter: invert(0%) sepia(0%) saturate(7471%) hue-rotate(122deg)
    brightness(101%) contrast(109%);
}

.mid-header {
  background: var(--gradient);
}

.add-item {
  padding: 10px 5px;
  margin-right: 10px;
}

.side-bar {
  border-right: 1px solid var(--border);
}

.mid-content,
.side-bar {
  display: grid;
  grid-template-rows: 70px 70px;
  grid-auto-rows: 70px;
}

.item,
.item-all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid var(--border);

  padding: 0 10px;

  position: relative;
}

.item-all img {
  width: 40px;
}

.item-title {
  margin: 0 20px;
}

.item-all {
  justify-content: flex-start;
  gap: 5px;
}

.item-expand {
  grid-row: span 5;
  font-weight: 1.1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  grid-auto-rows: 350px;
  padding: 0 10px;

  position: relative;

  border-bottom: 1px solid var(--border);
}

/* .note {
  color: #00d4ff;
  height: 150px;
  display: flex;
  text-overflow: e;
} */

.column {
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  min-width: 250px;
  gap: 15px;
}

.note {
  overflow: auto;
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.remove {
  color: red;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.remove:hover {
  padding-bottom: 3px;
}

.side-proyect,
.expandBtn {
  cursor: pointer;
}

.expandBtn {
  position: absolute;
  top: 25px;
  left: 5px;

  font-size: 1.3em;
  font-weight: bold;
}

.expandBtn:hover,
.edit-button:hover {
  top: 22px;
}

.expand-title {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: bold;
  font-size: 1.1em;
}

.side-proyect:hover {
  background-color: var(--border);
}

button {
  border-radius: 5px;
  background-color: white;
  padding: 10px 5px;
  border: 1px solid var(--border);
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

.proyect-btn {
  padding: 7px 10px;
  margin: 5px;
}

#proyect-btn {
  padding: 1px;
  display: flex;
}

.proyect-form {
  grid-row: span 2;
}

button:hover {
  background-color: rgb(161, 161, 161);
  color: white;
}

.input-proyect {
  width: 100%;
  height: 25px;
  font-size: 1em;
}

#sort-label {
  color: white;
  font-weight: bold;
}

.sort-select {
  height: 25px;
  font-size: 1em;
  border-radius: 5px;
}

input {
  font-size: 1em;
}

textarea {
  font-size: 1em;
  height: 100px;
}
/* .priority {
  width: 5%;
  height: 50%;

  border-radius: 25px;
} */

.edit-button {
  position: absolute;
  top: 20px;
  right: 25px;

  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .side-proyect {
    grid-row: span 2;
  }

  .item-expand {
    /* grid-row: span 10; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .form-container {
    grid-row: span 10;
  }
}
